<launch>
  <!-- ecm rviz -->
  <include file="$(find dvrk_model)/launch/ecm.launch">
    <arg name="model" value="$(find dvrk_record_and_playback)/model/ecm.xacro"/>
    <arg name="rviz" value="false"/>
    <arg name="rate" default="200" />
  </include>

  <!-- psm one -->
  <include file="$(find dvrk_record_and_playback)/launch/psm_one_rviz.launch">
    <arg name="model" default="$(find dvrk_record_and_playback)/model/psm_one.urdf.xacro"/>
    <arg name="rate" default="200" />
    <arg name="rviz" value="false"/>
    <arg name="ns" default="/dvrk_psm1"/>
  </include>

  <!-- psm two -->
  <include file="$(find dvrk_record_and_playback)/launch/psm_one_rviz.launch">
    <arg name="model" default="$(find dvrk_record_and_playback)/model/psm_two.urdf.xacro"/>
    <arg name="rate" default="200" />
    <arg name="rviz" value="false"/>
    <arg name="ns" default="/dvrk_psm2"/>
  </include>
  
  <!-- mtm left -->
  <include file="$(find dvrk_record_and_playback)/launch/mtm_rviz.launch">
  	<arg name="model" default="$(find dvrk_record_and_playback)/model/mtm_left.urdf.xacro"/>
    <arg name="rate" default="200" />
    <arg name="rviz" value="false"/>
    <arg name="ns" default="/dvrk_mtml"/>
  </include> 
  
  <!-- mtm right -->
  <include file="$(find dvrk_record_and_playback)/launch/mtm_rviz.launch">
  	<arg name="model" default="$(find dvrk_record_and_playback)/model/mtm_right.urdf.xacro"/>
    <arg name="rate" default="200" />
    <arg name="rviz" value="false"/>
    <arg name="ns" default="/dvrk_mtmr"/>
  </include>
  
  <group ns="/dvrk_record_and_playback">	      
	  <node name="rqt_bag"
	    	pkg="dvrk_record_and_playback"				
	        type="rqt_bag"/>
  </group>
  
  <!-- rviz  -->
  <node name="rviz" pkg="rviz" type="rviz"
	args="-d $(find dvrk_record_and_playback)/rviz/simulation.rviz"/>  

</launch>


