<launch>
  <arg name="rviz" default="true"/>
  <arg name="ns" default="/dvrk_psm1"/>
  <arg name="prefix" default="one_"/>
  <arg name="model" default="$(find autocamera)/model/psm_one.urdf.xacro"/>

  <!-- simulated ecm -->
  <group ns="$(arg ns)">
    <node name="sim_psm_ros" pkg="simulation" type="sim_psm_ros"
          output="screen">
      <param name="prefix" value="$(arg prefix)"/>
    </node>
  </group>

  <!-- psm rviz -->
  <include file="$(find dvrk_model)/launch/psm_one_rviz.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="rate" value="200" />
    <arg name="rviz" value="false"/>
    <arg name="ns" value="$(arg ns)"/>
  </include>

  <!-- rviz  -->
  <node name="rviz" pkg="rviz" type="rviz"
	args="-d $(find autocamera)/rviz/simulation.rviz"
    if="$(arg rviz)"/>  
</launch>


